* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 20px 0 20px;
}

.row {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.content-box-md {
    padding: 100px 0 100px 0;
}

h2 {
    font-family: 'Raleway', 'sans-serif';
    font-style: normal;
    font-weight: 600;
}

#menu .menu-items {
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    background-color: darkgrey;
    border: 1px solid darkslategrey;
}

#menu .menu-items .card-body {
    padding: 20px;
}

#menu .menu-items .card-head {
    position: relative;
    min-height: 30px;
}

.section-heading {
    margin: 50px;
}

.section-heading h2 {
    text-align: center;
}

.menu-items .head-title {
    padding: 10px;
    min-width: 30%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid darkslategrey;
    border-bottom: 1px solid darkslategrey;
}

.text-pink {
    background-color: pink;
}

.text-red {
    background-color: #c83737;
    color: #fff;
}

.text-orange {
    background-color: #ffb380;
}
.col-md-6 {
    max-width: 33.33%;
    width: 100%;
}
/* FOR PC */
@media only screen and (min-width: 992px) {
    .menu-items {
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* FOR MOBILE PHONES */

@media only screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }
    .col-md-6 {
        max-width: 100%;
        width: 100%;
    }
    .menu-items {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 512px) {
    .container {
        padding: 0;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .col-md-6 {
        max-width: 50%;
        width: 100%;
    }
    .menu-items {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .col-md-12 {
        max-width: 100%;
        width: 100%;
    }
}